footer
{
  color: silver;
  background-color : black;
  font-family: tahoma; 
 }
  
 h1
 {color: silver;
 background-color: black;
 font-family: tahoma
 }
 
body 
{
	color: silver;
	background-color : black;
	font-family: tahoma;
	
}

title
{
	color: silver;
	background-color : black;
	font-family: tahoma;
	
}

